<div class="about-container">
  <div class="company-details">
    <h1>What is Lorem Ipsum?</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="book-cleaning">
    <h3>Have something to be cleaned up?</h3>
    <div class="control-container">
      <div class="input-group mb-3 control5">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3 control5">
        <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>

    <div class="control-container">
      <div class="input-group mb-3 control5">
        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3 control5">
        <span class="input-group-text" id="inputGroup-sizing-default">Location</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>

    <div class="control-container">
      <div class="input-group">
        <textarea class="form-control" placeholder="What do you want us to clean for you?" rows="6"></textarea>
      </div>
    </div>

    <div class="control-container">
      <div class="input-group">
        <button type="button" class="submit-btn btn btn-primary">Submit</button>
      </div>
    </div>
    
  </div>
</div>