.home-header {
  display: flex;
  align-content: space-evenly;

  .profile-container, .btn-wrapper {
    width: 50%;
    display: flex;
  }

  .btn-wrapper > .edit-btn {
    margin: auto 0;
  }
}

.body {
  display: flex;
  width: 100%;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 8px;
}