<nav id="nav-bar" role="navigation" aria-label="NavBar">
  <div class="header">LOGAWORK</div>
  <ul class="menu">
    <li class="menu-item">
      <a class="link-fade">
        <span><i class="fas fa-home-alt"></i></span>
        Home
      </a>
    </li>
    <li class="menu-item">
      <a class="link-fade">
        <span><i class="fas fa-calendar-alt"></i></span>
        Time Sheet
      </a>
    </li>
    <li class="menu-item">
      <a class="link-fade">
        <span><i class="fas fa-landmark"></i></span>
        Loan Ledger
      </a>
    </li>
    <li class="menu-item">
      <a class="link-fade">
        <span><i class="fas fa-umbrella-beach"></i></span>
        Leave Ledger
      </a>
    </li>
    <li class="menu-item">
      <a class="link-fade">
        <span><i class="fas fa-file-invoice-dollar"></i></span>
        Payslips
      </a>
    </li>
  </ul>
  <div class="list"></div>
</nav>